body {
    overflow: hidden;
    text-shadow: none;
    background-color: black !important;
}

.bg {
    width: 2000px;
    height: 100%;
    max-height: 640px;

}

#copyRight {
    position: absolute;
    bottom: 1%;
    right: 2%;
    font-size: 1.5vw;
    user-select: none;
    color: white;
    text-align: center;
    font-family: Arial;
    z-index: 100;
}

.mask {
    width: 1134px;
    height: 640px;
    overflow: hidden;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
}

#player {
    height: 200px;
    width: 100px;
    border: 3px solid blue;
    background-color: blue;
}

.zombie {
    height: 200px;
    width: 100px;
    border: 3px solid red;
    background-color: red;
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 0px;
    box-shadow: 0px 5px 10px #000;
}

.zhead {
    height: 50px;
    background-color: gr<br class="Apple-interchange-newline">een;
}

.controls {
    position: absolute;
    bottom: 10px;
    z-index: 10;
    margin-left: 10%;
        cursor:pointer;
}

.controller {
    width: 150px;
    height: 150px;
    background-color: rgba(128,128,128,0.4);
    display: inline-block;
    font-size: 120px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 100px;
    text-shadow: none;
}


    .controller:hover {
        width: 160px;
        height: 160px;
        box-shadow: 0px 0px 10px #fff;
        text-shadow: 0px 0px 10px #8c1717;
    }

.bullet {
    /*background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(244,244,48,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(244,244,48,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(244,244,48,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(244,244,48,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(244,244,48,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(244,244,48,1) 100%);*/
    background-color: yellow;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f4f430',GradientType=1 );
    width: 10px;
    height: 2px;
    position: absolute;
    top: 24%;
    z-index: 7;
}


.score {
    position: absolute;
    width: 200px;
    height: 35px;
    top: 10px;
    left: 10px;
    z-index: 15;
    font-size: 30px;
    text-shadow: none;
    user-select: none;
    color: white;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px #8c1717;
    text-align: center;
    border: 1px solid black;
    font-family: 'Shadows Into Light', cursive;
}

.startButton {
    cursor:pointer;
    width: 100%;
    color: white;
    position: absolute;
    height: 7%;
    top: 40%;
    z-index: 50;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    font-size: 40px;
    text-shadow: none;
    user-select: none;
    font-family: 'Shadows Into Light', cursive;
    visibility: visible;
    text-shadow: 0px 0px 15px #8c1717;
}

    .startButton:hover {
        box-shadow: 0px 0px 20px #8c1717;
        text-shadow: 0px 0px 5px #8c1717;
    }


#rain {
    position: absolute;
    display: none;
    width: 1134px;
    height: 640px;
    background-image: url('../lib/img/rain.png');
    background-size: 34080px 640px;
    top: 0px;
    left: 0px;
    z-index: 8;
}

#yourAudio {
    position: absolute;
    z-index: 51;
    top: 5%;
    left: 90%;
    width: 100px;
}

.title {
    width: 100%;
    color: white;
    position: absolute;
    height: 15%;
    top: 15%;
    z-index: 50;
    background-color: rgba(0,0,0,0.0);
    text-align: center;
    font-size: 120px;
    user-select: none;
    font-family: 'Shadows Into Light', cursive;
    visibility: visible;
    text-shadow: 0px 0px 15px #8c1717;
}

    /*///////////////////////
   ///                   ///
  ///    Start Stats    ///
 ///                   ///
///////////////////////*/


.stats {
    display: none;
    position: relative;
    top: -40px;
    left: -50px;
    width: 100px;
    height: auto;
    padding: 2px;
    background: rgba(255,255,255,0.5);
    text-align: center;
    box-shadow: 0px 0px 20px #8c1717;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial;
    color: black;
    font-size: 1.5em;
}

    .stats:after {
        display: none;
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 4px 4px 0;
        border-color: rgba(255,255,255,0.5) transparent;
        box-shadow: 0px 0px 20px #8c1717;
        display: block;
        width: 0;
        z-index: 1;
        margin-left: -4px;
        bottom: -4px;
        left: 53%;
    }





    /*///////////////////////
   ///                   ///
  /// Start ZombieMeter ///
 ///                   ///
///////////////////////*/




    .zombieCount {
    position: absolute;
    top: 10px;
    right: 55%;
    border: 1px solid black;
    z-index: 9;
    text-shadow: none;
    color: white;
    text-align: center;
        user-select: none;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px #8c1717;
    border: 1px solid black;
    border-radius: 0px;
}

#zclable {
    border-bottom:3px solid black;
    width: 100%;
    display: inline-block;
}

#zc {
    background-color: white;
    color: black;
    width: 100%;
    display: inline-block;
}






    /*///////////////////////
   ///                   ///
  ///  Start HealthBar  ///
 ///                   ///
///////////////////////*/











meter::-webkit-meter-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255,255,255,0.0);
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
    z-index: 10;
    height: 20px;
    width: 50%;
    user-select: none;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px #8c1717;
    border: 1px solid black;
    border-radius: 0px;
}

meter::-webkit-meter-optimum-value {
    background: #86CC00; /* Green */
}

meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A; /* Yellow */
}

meter::-webkit-meter-even-less-good-value {
    background: #8c1717; /* Red */
}
